<section *ngIf="isLoading$ | async" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let pool of pools$ | async" [label]="pool.name">
    <section class="tab-pool" fxLayout="column" fxLayoutAlign="center center">
      <h1 *ngIf="!(isLoading$ | async)">{{ pool.name }}</h1>
      <!-- <p>{{ pool.id }}</p> -->
      <div fxLayout="row">
        <button *ngIf="!(isLoading$ | async) && isAuth$ | async" mat-raised-button color="primary" (click)="addPlayerToPool(pool.id)">Add Fighter</button>
        <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" 
          [disabled]="pool.fights.length == 0 && pool.planned_fights.length == 0" (click)="seeFights(pool)">
          See Fights
        </button>
        <button *ngIf="!(isLoading$ | async) && isAuth$ | async" mat-raised-button color="accent" [disabled]="pool.players.length < 2" (click)="registerFight(pool)">Register Fight</button>
        <button *ngIf="!(isLoading$ | async) && isAuth$ | async" mat-raised-button color="accent" [disabled]="pool.players.length < 2" (click)="plannedFight(pool)">Plane Fight</button>
      </div>
    </section>
    
    <!-- FILTER -->
    <div fxLayoutAlign="center center">
      <mat-form-field *ngIf="!(isLoading$ | async)  && pool.players.length > 0" fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <!-- TABLE -->
    <mat-table *ngIf="!(isLoading$ | async) && pool.players.length > 0" [dataSource]="dataSource" matSort>

      <!-- NAME -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <!-- POINTS -->
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Points</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.points }} </mat-cell>
      </ng-container>
      <!-- FIGHTS -->
      <ng-container matColumnDef="nb_fights">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Combats</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nb_fights | number }} </mat-cell>
      </ng-container>
      <!-- WINS -->
      <ng-container matColumnDef="nb_wins">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Victoires</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nb_wins | number }} </mat-cell>
      </ng-container>
      <!-- LOSES -->
      <ng-container matColumnDef="nb_loses">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Défaites</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nb_loses | number }} </mat-cell>
      </ng-container>

      <!-- TEL -->
      <ng-container matColumnDef="tel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.tel }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
      
    <mat-paginator *ngIf="!(isLoading$ | async) && pool.players.length > 0" #paginator [pageSize]="5" [pageSizeOptions]="[1, 3, 5, 10, 20]"></mat-paginator>

    <p *ngIf="!(isLoading$ | async) && pool.players.length == 0">No fighters in the pool</p>

  </mat-tab>
</mat-tab-group>
